.thank-you-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .thank-you-message {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  
  .product-container {
    border-radius: 10px;
    transition: box-shadow 0.3s ease; /* Efecto de transición */
  }
  
  .product-container:hover {
    box-shadow: 0 0 0 2px white; /* Borde blanco simulado */
  }
  