/* src/css/error.css */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Asegura que ocupe al menos la altura de la pantalla */
  padding: 20px;
  background-color: #f8f9fa; /* Un fondo claro y profesional */
}

.responsive-container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 90%; /* Ocupa un porcentaje del ancho en pantallas pequeñas */
  max-width: 500px; /* Limita el ancho en pantallas grandes */
  background-color: #fff; /* Fondo blanco para el contenedor */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.responsive-container button {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Color azul para el botón */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.responsive-container button:hover {
  background-color: #0056b3;
}

.responsive-container img {
  margin-top: 15px;
  margin-bottom: 10px;
  border: 5px solid silver;
  border-radius: 5%;
  opacity: 100%; /* Aseguramos que la opacidad sea al 100% */
  max-width: 100%; /* Hace que la imagen sea responsive */
  height: auto;
  transition: border-color 0.3s ease; /* Transición para el borde */
  transform: none !important; /* Anula cualquier transformación previa */
}

.responsive-container img:hover {
  border-color: #ccc; /* Cambio de color del borde al hacer hover */
  transform: none !important; /* Asegura que no haya rotación ni traslación */
}

.pulsating {
  color: #6c757d; /* Un color más sutil para el texto */
  font-size: 2rem;
}

@keyframes move {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 600px) {
  .responsive-container {
    padding: 20px;
  }

  .responsive-container button {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 8px 16px;
  }

  .pulsating {
    font-size: 1.8rem;
  }
}
