/* Ajuste del carrusel */
.carousel {
  width: 80vw;
}

/* Card de película (aprox 20% del ancho) */
.movie-card {
  width: 20vw;
  height: auto;
  overflow: hidden;
  position: relative;
  border: none;
  transition: transform 0.3s ease-in-out;
}

/* Imagen de película */
.movie-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

/* Overlay oculto por defecto */
.movie-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/* Mostrar overlay al hacer hover */
.movie-card:hover .movie-overlay {
  opacity: 1;
}

/* VerticalTableRow.css */
.table-container {
  height: 80vh; /* Mantiene la altura total de 80vh */
  width: 65vw; /* Mantiene el ancho de 65vw */
  display: flex;
  flex-direction: column; /* Organiza las tarjetas en una columna */
  justify-content: space-between; /* Distribuye las tarjetas con espacio entre ellas */
}

.table-container > div {
  flex: 1; /* Asegura que las tarjetas ocupen el espacio disponible de manera uniforme */
}

.table-container > div > .card {
  height: 20vh; /* Establece la altura de cada tarjeta para que quepan las 4 */
  width: 100%; /* Cada tarjeta ocupa el 100% del ancho disponible del contenedor */
  margin-bottom: 1rem; /* Espacio entre las tarjetas */
}
