/* MovieCarousel.module.css */

.carouselContainer {
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #222;
}

.carouselInner {
  height: 100%;
  display: flex;
  flex-direction: row; /* Coloca los items en fila */
  align-items: center; /* Centra verticalmente los items */
}

.carouselItem {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; /* Coloca los items en fila */
  align-items: center; /* Centra verticalmente los items */
}

.textContainer {
  flex: 1; /* Ocupa el 50% del espacio */
  padding: 2rem;
  box-sizing: border-box;
  display: flex; /* Añadido: Para controlar la alineación del contenido */
  flex-direction: column; /* Añadido: Para apilar el texto verticalmente */
  justify-content: center; /* Añadido: Para centrar el texto verticalmente */
}

.movieTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.movieDescription {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.reproduceButton {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.imageContainer {
  flex: 1; /* Ocupa el 50% del espacio */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  box-sizing: border-box;
}

.movieImage {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  border-radius: 10px;
}
