/* src/css/MovieSlider.css */

.movie-card {
  background-color: #111;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  background-color: #001f3f;
  cursor: pointer;
}

.movie-card > img {
  width: 100%;
  height: 100%;
  margin-bottom: 2px;
  object-fit: cover;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: rgba(0, 0, 139, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.movie-card:hover .overlay-description {
  opacity: 1;
}

.synopsis-text {
  max-height: 60%;
  width: 90%;
  font-size: 0.85rem;
  overflow-y: auto;
}

.overlay-title {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.movie-card .d-flex.justify-content-between {
  bottom: -10px;
  left: -12px;
  right: 5px;
  z-index: 2;
  padding-bottom: 0px;
  display: flex;
  gap: 5px;
}

.movie-card .d-flex.justify-content-between button {
  padding: 2px 8px;
  font-size: 0.8rem;
  min-width: auto;
  flex-grow: 1;
}

/* Ajuste para el espaciado entre tarjetas */
.movie-card {
  margin-right: 15px; /* Espacio entre las tarjetas en general */
}

/* Eliminar margen derecho para la última tarjeta visible */
.d-flex.overflow-hidden > .movie-card:last-child {
  margin-right: 0;
}

/* Ajustes para pantallas más pequeñas (opcional, puedes ajustar según necesites) */
@media (max-width: 768px) {
  .movie-card {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .movie-card {
    margin-right: 0; /* No hay margen derecho cuando solo se muestra una película */
  }
}
