.comment-name {
  color: #00bcd4;
}

.comments-dropdown .collapse {
  max-height: 200px;
  overflow-y: auto;
}

.recommended-dropdown .collapse {
  max-height: 300px;
  overflow-y: auto;
}


.recomended-pc .movie-card {
  width: 100%; 
  margin-bottom: 20px; 
}


@media (max-width: 767px) {
  .comments-dropdown,
  .recommended-dropdown,
  .recomended-pc {
    display: none;
  }
  .d-md-none {
    display: block !important;
  }
}
